Options +FollowSymLinks -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Don't apply the rule if the file or directory actually exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect to public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>